.header {
    max-width: 880px;
    margin: 45px auto 41px;
}

.header__logo {
    max-width: 173px;
    max-height: 33px;
}

@media screen and (max-width: 320px) {
    .header {
        margin: 28px auto 32px;
    }

    .header__logo {
        max-width: 126px;

        max-height: 24px;
        margin-left: 27px;
    }
}