.header {
    max-width: 880px;
    margin: 45px auto 0;
    border-bottom: rgba(84, 84, 84, 0.7) solid 1px;
    padding: 0;
}

.header__logo {
    max-width: 173px;
    max-height: 33px;
    margin-bottom: 41px;
    padding: 0;
}

@media screen and (max-width: 524px) {
    .header {
        max-width: 100%;
        margin-top: 28px;
    }

    .header__logo {
        max-width: 126px;
        max-height: 24px;
        margin: 0 auto 32px 27px;
    }
}