.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.45s ease-in-out;
    visibility: hidden;
    pointer-events: none;
    overflow: visible;
}

.popup_type_avatar {
    display: flex;
    flex-direction: column;
}

.popup_opened {
    visibility: visible;
    transition: visibility 0s,
        opacity 0.5s linear;
    pointer-events: all;
    opacity: 1;
}

.popup__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 34px;
    border-radius: 10px;
    position: relative;

}

.popup-type-delete-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.popup__preview-container {
    padding: 0px;
    background-color: transparent;
    color: #fff;
    gap: 10px;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    z-index: -1;
}

.popup-edit-profile {
    overflow: visible;
}

.popup__close-button {
    cursor: pointer;
    transition: all 0.2s ease-out;
    background-color: transparent;
    background-image: url("../images/icons/close_icon.svg");
    background-repeat: no-repeat;
    border: none;
    display: flex;
    margin: 0 0 0 auto;
    overflow: visible;
    min-height: 30px;
    min-width: 30px;
    padding: 0 0 2em 1.8em;

}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
}



.popup__image {
    width: 100%;
    max-height: 75vh;
    max-width: 75vw;

}

.popup__caption {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 400px) {
    .popup__button-close {
        background-size: 20px 20px;
        top: -49px;
        right: -7px;
    }
}

@media screen and (max-width: 320px) {
    .popup {
        max-width: 282px;
        padding: 0 19px;

    }

    .popup__container {
        gap: 76px;
        padding: 25px 22px;
    }

    .popup__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
}